<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <%-include("./partials/header.ejs")%>
    <!-- ##### Right Side Cart Area ##### -->
    <%-include("./partials/side-cart.ejs")%>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">

                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-page-heading mb-30">
                            <h5>Detalles de facturación</h5>
                        </div>

                        <form id="checkoutForm" action="/checkout/procces/" method="POST">

                            <div class="row">

                                <div class="col-md-6 mb-3">
                                    <label for="name">nombre <span>*</span></label>
                                    <input type="text" class="form-control" id="name" name="name" autocomplete="name">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="tel">telefono <span>*</span></label>
                                    <input type="tel" class="form-control" id="tel" name="tel" autocomplete="tel">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="email">Email <span>*</span></label>
                                    <input type="email" class="form-control" id="email" name="email" autocomplete="email">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="note">Nota</label>
                                    <textarea class="form-control" id="note" name="note"></textarea>
                                </div>
                                
                                <!-- Campo oculto metodo de pago -->
                                <input type="hidden" id="payMethodInput" name="payMethod" value="transfer">

                                <div class="col-12 mb-3">
                                    <label for="orderType">¿Retiro o envío? <span>*</span></label>
                                    <select class="w-100" id="orderType" name="orderType" data-cart="<%= JSON.stringify(cart) %>"  data-delivery="<%= JSON.stringify(Delivery) %>" onchange="toggleDeliveryZone()">
                                        <option value="pickup">Retiro</option>
                                        <option value="delivery">Envío a domicilio</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row d-none" id="deliveryZone">

                                <div class="col-12">
                                    <p>*Hacemos envios solo al AMBA.</p>
                                </div>
                            
                                <div class="col-12 mb-3">
                                    <label for="postcode">codigo postal <span>*</span></label>
                                    <input type="text" class="form-control" id="postcode" name="postcode">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="city">ciudad <span>*</span></label>
                                    <input type="text" class="form-control" id="city" name="city">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="address">direccion <span>*</span></label>
                                    <input type="text" class="form-control" id="address" name="address" autocomplete="address">
                                </div>                                                   

                            </div>

                            <div class="row">

                                <div class="col-12 mt-3">
                                    <div class="custom-control custom-checkbox d-block">
                                        <input type="checkbox" class="custom-control-input" id="newsletter" name="newsletter" checked> 
                                        <label class="custom-control-label" for="newsletter">suscribite y participa de sorteos</label>                                                                               
                                    </div>
                                </div>

                            </div>

                            <button id="btnFormSend" type="submit" class="d-none"></button>

                        </form>

                    </div>
                    
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Tu Orden</h5>
                            <p>Los Detalles</p>
                        </div>

                        <% let subtotal = 0; %>

                        <ul class="order-details-form mb-4">
                            <li><span>Producto</span> <span>precio</span></li>

                            <% cart.item.forEach(item => { %>

                            <li class="border-0"><span><%= item.name %> x<%=item.quantity %></span><span>$<%= item.price %></span></li>
                            <p><%=item.selectedOptions %></p>

                            <% subtotal += parseFloat(item.subtotal); %>

                            <% }) %>

                            <li><span>Subtotal</span> <span>$<%= (subtotal).toFixed(2) %></span></li>

                            <li id="pickupDeliveryMethod"><span>Método de Entrega</span> <span>Retiro</span></li>

                            <!-- Luego de aplicar el cupon muestro la info en la orden -->
                            <!-- Este campo es temporal asincronico luego de apretar el boton -->
                            <li id="discountOrderInfoTemporal" class="d-none"><span>Descuento</span> <span></span></li>
                            <!-- Este es definitivo si existe cart.discount -->
                            <% if (cart.discount) { %>
                            <li><span>Descuento</span> <span><%=cart.discount.percentage%>%</span></li>
                            <% } %>
                            <li><span>Total</span> <span id="totalValue">$<%= cart.total %></span></li>
                        </ul>

                        <!-- Discount cooupon -->

                        <div class="row">
                            <div id="discountInput" class="col-sm-12 my-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="coupon" name="coupon" placeholder="¿Tenes un cupón?" oninput="validateCouponInput()">
                                    <div class="input-group-append">
                                        <button id="couponBtn" class="btn btn-primary" type="submit" disabled onclick="applyCoupon()">APLICAR</button>
                                    </div>
                                </div>
                            </div>
                            <div id="discountMsg" class="col-sm-12 d-none">
                                <p id="discountMsgValue"></p>
                            </div>
                        </div>                        

                        <div class="mb-5">

                            <div class="custom-control custom-checkbox my-3">
                                <input type="checkbox" class="custom-control-input" id="mercadoPagoCheckbox" name="paymentMethod" value="mercado_pago" onclick="handleCheckbox(this)"> 
                                <label class="custom-control-label" for="mercadoPagoCheckbox">Mercado Pago <i class="fa fa-credit-card"></i>
                                </label>                                                                               
                            </div>
                            
                            <div class="custom-control custom-checkbox my-3">
                                <input type="checkbox" class="custom-control-input" id="transferenciaCheckbox" name="paymentMethod" value="transfer" onclick="handleCheckbox(this)" checked> 
                                <label class="custom-control-label" for="transferenciaCheckbox">Transferencia Bancaria <i class="fa fa-university"></i>
                                </label>                                                                               
                            </div>                            

                        </div>

                        <button id="btnSendOut" disabled class="btn essence-btn">confirmar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%-include("./partials/footer.ejs")%>

    <!-- Pay Method Handle-->
    <script>
        function handleCheckbox(checkbox) {
            // Deseleccionar el otro checkbox si este está seleccionado
            var checkboxes = document.querySelectorAll('input[name="paymentMethod"]');
            checkboxes.forEach(function (cb) {
                if (cb !== checkbox && cb.checked) {
                    cb.checked = false;
                }
            });

            document.getElementById('payMethodInput').value = checkbox.value;
        }
    </script>

    <!-- Send Form js -->
    <script>
        // Agregar un event listener al botón de enviar
        document.getElementById('btnSendOut').addEventListener('click', function() {
            // Obtener el formulario
            const boton = document.getElementById('btnFormSend');
            // Enviar el formulario
            boton.click();
        });
    </script>    

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <!-- Search js -->
    <script src="/js/search.js"></script>
    <!-- Validation form js -->
    <script src="/js/checkout-form.js"></script>
    <!-- Discount js -->
    <script src="/js/discount.js"></script>

</body>

</html>