<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

<body>
    <!-- ##### Header Area Start ##### -->
    <%-include("./partials/header.ejs")%>
    <!-- ##### Right Side Cart Area ##### -->
    <%-include("./partials/sideCart.ejs")%>
    <!-- ##### Welcome Main Banner ##### -->
    <%-include("./partials/banner.ejs")%>
    <!-- ##### Catagory Area Start ##### -->
    <%-include("./partials/categories.ejs")%>
    <!-- ##### Promo Area Start ##### -->
    <%-include("./partials/promo.ejs")%>
    <!-- ##### Features Area Start ##### -->
    <%-include("./partials/carrousel.ejs")%>
    <!-- ##### Brands Area Start ##### -->
    <%-include("./partials/brands.ejs")%>
    <!-- ##### Footer Area Start ##### -->
    <%-include("./partials/footer.ejs")%>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
</body>

</html>