<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <%-include("./partials/header.ejs")%>
    <!-- ##### Right Side Cart Area ##### -->
    <%-include("./partials/side-cart.ejs")%>

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <% if (Product) { %>

            <!-- Single Product Thumb -->
            <div class="single_product_thumb clearfix">
                <div class="product_thumbnail_slides owl-carousel">
                    <% Product.Product_image.forEach(image => { %>
                        <img src="/img/product-img/<%=image.url%>" alt="">
                    <% }) %>
                </div>
            </div>

            <!-- Single Product Description -->
            <div class="single_product_desc clearfix">

                <div id="descriptionContainer">

                    <span><%=Product.Category.name %></span>
                    <h2><%=Product.name %></h2>
                    <p class="product-price">$<%=Product.price %></p>

                    <!-- Para mostrar los saltos de linea como corresponden, sino usar la etiquta normal <p class="product-desc"> Product.description </p> -->
                    <% const descriptionLines = Product.description.split('\n'); %>
                    <% descriptionLines.forEach(line => { %>
                        <p class="product-desc"><%= line %></p>
                    <% }) %>

                    <!-- Cart & Favourite Box -->
                    <div class="cart-fav-box d-flex align-items-center mt-5">
                        <!-- Cart -->
                        <button id="changeBtn" type="submit" class="btn essence-btn">comprar</button>
                    </div>

                </div>

                <div class="d-none" id="formContainer">

                    <span><%=Product.Category.name %></span>
                    <h2><%=Product.name %></h2>
                    <span>elegi entre las diferentes opciones y arma tu <%=Product.name %> como mas te guste</span>

                    <!-- Form -->
                    <form id="cartForm" class="cart-form clearfix" action="/cart/add/" method="POST">                    
                        <!-- Select Box -->
                        <% const optionTypes = {}; %>
                        <% Product.Product_option.forEach(item => { %>
                            <% if (!optionTypes[item.option_type]) { %>
                                <% optionTypes[item.option_type] = []; %>
                            <% } %>
                            <% optionTypes[item.option_type].push(item.option_value); %>
                        <% }) %>
                        <% for (const optionType in optionTypes) { %>
                            <div class="select-box d-flex flex-column mt-3 mb-3">

                                <select name="option" id="<%=optionType %>" class="mr-5" onchange="validateSelections()">
                                    <option value="" disabled selected><%=optionType %></option>
                                    <% optionTypes[optionType].forEach(optionValue => { %>
                                        <option value="<%=optionType + ': ' + optionValue%>"><%=optionValue %></option>
                                    <% }) %>
                                </select>
                            </div>
                        <% } %>   
                        <div class="select-box d-flex flex-column mt-3 mb-5">

                            <select name="amount" id="amount" class="mr-5" onchange="validateSelections()">                                
                                <option value="" disabled selected>Cantidad</option>
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <option value="<%=i%>"><%=i%></option>
                                <% } %>
                            </select>                            
                        </div>
                        <!-- Cart & Favourite Box -->
                        <div class="cart-fav-box d-flex align-items-center">
                            <!-- Cart -->
                            <button id="addToCartBtn" type="submit" name="product_id" value="<%=Product.id%>" class="btn essence-btn" disabled>Añadir al carrito</button>
                        </div>
                    </form>

                </div>

            </div>

        <% } else { %>

            <!-- include error.ejs  -->

        <% } %>

    </section>
    <!-- ##### Single Product Details Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%-include("./partials/footer.ejs")%>

    <!-- Change to product configuration js -->
    <script>
        document.getElementById('changeBtn').addEventListener('click', function() {
            // Ocultar el div con id "change"
            const changeDiv = document.getElementById('descriptionContainer');
            if (changeDiv) {
                changeDiv.classList.add('d-none');
            }
            
            // Mostrar el form con id "cartForm"
            const cartForm = document.getElementById('formContainer');
            if (cartForm) {
                cartForm.classList.remove('d-none');
            }
        });
    </script>    

    <!-- Validation form js -->
    <script>
        // Función para validar las selecciones
        function validateSelections() {
            // Obtener todos los select
            const selects = document.querySelectorAll('.select-box select');
            // Obtener el botón de "Añadir al carrito"
            const addToCartBtn = document.getElementById('addToCartBtn');
            // Verificar si todas las selecciones son válidas
            const allValid = Array.from(selects).every(select => select.value !== '');
            // Habilitar o deshabilitar el botón según la validación
            addToCartBtn.disabled = !allValid;
        }
    </script>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <!-- Search js -->
    <script src="/js/search.js"></script>
    
</body>

</html>