<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <%-include("./partials/header.ejs")%>
    <!-- ##### Right Side Cart Area ##### -->
    <%-include("./partials/sideCart.ejs")%>

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <% if (Product) { %>

            <!-- Single Product Thumb -->
            <div class="single_product_thumb clearfix">
                <div class="product_thumbnail_slides owl-carousel">
                    <% Product.Product_image.forEach(image => { %>
                        <img src="/img/product-img/<%=image.url%>" alt="">
                    <% }) %>
                </div>
            </div>

            <!-- Single Product Description -->
            <div class="single_product_desc clearfix">
                <span><%=Product.Category.name %></span>
                <h2><%=Product.name %></h2>
                <p class="product-price">$<%=Product.price %></p>
                <p class="product-desc"><%=Product.description %></p>

                <!-- Form -->
                <form class="cart-form clearfix" action="/cart/add/" method="POST">
                    <!-- Select Box -->

                        <% const optionTypes = {}; %>
                        <% Product.Product_option.forEach(item => { %>
                            <% if (!optionTypes[item.option_type]) { %>
                                <% optionTypes[item.option_type] = []; %>
                            <% } %>
                            <% optionTypes[item.option_type].push(item.option_value); %>
                        <% }) %>
                        
                        <% for (const optionType in optionTypes) { %>
                            <div class="select-box d-flex mt-3 mb-3">
                                <select name="option" id="<%=optionType %>" class="mr-5">
                                    <option value="" disabled selected><%=optionType %></option>
                                    <% optionTypes[optionType].forEach(optionValue => { %>
                                        <option value="<%=optionType + ': ' + optionValue%>"><%=optionValue %></option>
                                    <% }) %>
                                </select>
                            </div>
                        <% } %>   
                        
                        <div class="select-box d-flex mt-3 mb-5">
                            <select name="amount" id="cant" class="mr-5">
                                <option value="" disabled selected>Cantidad</option>
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <option value="<%=i%>"><%= i %></option>
                                <% } %>
                            </select>                            
                        </div>
                    
                    <!-- Cart & Favourite Box -->
                    <div class="cart-fav-box d-flex align-items-center">
                        <!-- Cart -->
                        <button type="submit" name="product_id" value="<%=Product.id%>" class="btn essence-btn">Añadir al carrito</button>
                    </div>
                </form>

            </div>

        <% } else { %>

            <!-- include error.ejs  -->

        <% } %>

    </section>
    <!-- ##### Single Product Details Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%-include("./partials/footer.ejs")%>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>

</html>