<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

<body>
    <!-- ##### Header Area Start ##### -->
    <%-include("./partials/header.ejs")%>
    <!-- ##### Right Side Cart Area ##### -->
    <%-include("./partials/sideCart.ejs")%>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>dresses</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">CATEGORIAS</h6>
                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul>
                                    <!-- Single Item -->
                                    <li>
                                        <a class="text-dark" href="/products/shop/">Ver todo</a>
                                        <% Categories.forEach((category) => { %>
                                            <a class="text-dark" href="#" onclick="updateCategory('<%=category.id%>')"><%=category.name%></a>
                                        <% }) %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span><%=TotalFilteredProductCount%></span> productos encontrados</p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <button type="button" class="btn btn-sm btn-light" data-toggle="dropdown"><p class="dropdown-toggle">Ordenar por</p></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" href="#" onclick="buildOrderURL('name')"><p>Nombre <span id="orderName" class="d-none">●</span></p></a>
                                          <a class="dropdown-item" href="#" onclick="buildOrderURL('popular')"><p>Mas vendidos <span id="orderPopular" class="d-none">●</span></p></a>
                                          <a class="dropdown-item" href="#" onclick="buildOrderURL('lowPrice')"><p>Menor precio <span id="orderLowPrice" class="d-none">●</span></p></a>
                                          <a class="dropdown-item" href="#" onclick="buildOrderURL('highPrice')"><p>Mayor precio <span id="orderHighPrice" class="d-none">●</span></p></a>
                                        </div>                                                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <% AllProducts.forEach((product) => { %>

                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="/img/product-img/<%=product.Product_image[0].url%>" alt="">
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span><%=product.Category.name%></span>
                                        <a href="/products/detail/<%=product.id%>">
                                            <h6><%=product.name%></h6>
                                        </a>
                                        <p class="product-price">$<%=product.price%></p>
                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/products/detail/<%=product.id%>" class="btn essence-btn">Ver mas</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% }) %>

                        </div>
                    </div>

                    <!-- Pagination -->                    
                    <nav aria-label="navigation">
                        <ul class="pagination mt-50 mb-70">
                            <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>"><a class="page-link" href="?page=<%= currentPage - 1 %>"><i class="fa fa-angle-left"></i></a></li>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>"><a class="page-link" href="?page=<%= currentPage + 1 %>"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%-include("./partials/footer.ejs")%>

    <!-- Script de paginacion -->
    <script>

        const paginationLinks = document.querySelectorAll('.pagination .page-link');

        paginationLinks.forEach(link => {
            link.addEventListener('click', (event) => {
                event.preventDefault();
                const newPage = event.target.getAttribute('href').split('?page=')[1];
                const currentURL = new URL(window.location.href);
                currentURL.searchParams.set('page', newPage);
                window.location.href = currentURL;
            });
        });

    </script>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <!-- Order and Filters js -->
    <script src="/js/filters.js"></script>   

</body>

</html>