<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <%-include("./partials/header.ejs")%>
    <!-- ##### Right Side Cart Area ##### -->
    <%-include("./partials/side-cart.ejs")%>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Resumen</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Summary Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">

                    <div class="checkout_details_area mt-50 clearfix">

                        <% if (summary && summary.method === "transfer") { %>
                            <h3 class="mb-3">Tu pedido ha sido recibido 😊</h3>
                            <div class="text-justify">
                                <p>Para que podamos confirmarlo y comenzar a prepararlo, por favor envíanos el comprobante de la transferencia a nuestra dirección de correo electrónico <span class="font-weight-bold">info@elbosque.com</span> o a través de nuestro número de WhatsApp.</p>
                                <p>Te recordamos tambien que tu número de orden es <span class="font-weight-bold">#<%=summary.order.code%></span>, el cual te permitirá rastrear el estado de tu pedido en nuestra sección 'Tu Pedido'.</p>
                            </div>
                            <div class="my-5 font-weight-bold" style="color: #787878; font-size: 14px; line-height: 1.65;">
                                <ul>
                                    <li>CBU: 0170016940000006891567</li>
                                    <li>Alias: Pipasteleria</li>
                                    <li>Banco: BBVA</li>
                                    <li>MP ALIAS: Pipasteleria.mp</li>
                                    <li>MP CVU: 0000003100021369072550</li>
                                </ul>
                            </div>
                            
                            <a href="/" class="btn essence-btn mt-3">Ir al Inicio</a>
                        <% } %>

                    </div>                    
                        
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">

                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Tu Orden #<%=summary.order.code%></h5>
                            <p>Los Detalles</p>
                        </div>

                        <% let subtotal = 0; %>

                        <ul class="order-details-form mb-4">

                            <li><span>Producto</span> <span>Precio</span></li>

                            <% summary.items.forEach(item => { %>

                            <li class="border-0"><span><%= item.name %> x<%= item.quantity %></span><span>$<%= item.price %></span></li>
                            <p style="font-size: 12px;"><%= item.selectedOptions %></p>

                            <% subtotal += parseFloat(item.subtotal); %>

                            <% }) %>

                            <li><span>Subtotal</span> <span>$<%= (subtotal).toFixed(2) %></span></li>

                            <% if (summary.order.method === 'pickup') { %>

                            <li><span>Método de Entrega</span> <span>Retiro</span></li>

                            <% } else if (summary.order.method === 'delivery') { %>

                            <li><span><%=summary.delivery.name %></span> <span>$<%=summary.delivery.price%></span></li>

                            <% } %>
                            
                            <li><span>Forma de Pago</span> <span>Transferencia</span></li>       

                            <% if (summary.discount) { %>

                                <li><span>Descuento</span> <span><%=summary.discount%>%</span></li>

                            <% } %>

                            <li class="border-0"><span>Total</span> <span id="totalValue">$<%= summary.order.amount %></span></li>

                        </ul>

                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Summary Area End ##### -->


    <!-- ##### Footer Area Start ##### -->
    <%-include("./partials/footer.ejs")%>    

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <!-- Search js -->
    <script src="/js/search.js"></script>

</body>

</html>