    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <% if (cart !== undefined) { %>

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="/img/core-img/bag.svg" alt=""> <span><%= cart ? cart.item.length : 0 %></span></a>
        </div>

        <div class="cart-content d-flex">
            <!-- Cart List Area -->
            <div class="cart-list">

                <% cart.item.forEach(item => { %>

                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <div class="product-image">
                        <img src="/img/product-img/<%=item.image%>" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <a href="/cart/remove/<%=item.itemCode%>"><span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span></a>
                            <span class="badge">x<%=item.quantity%></span>
                            <h6><%=item.name%></h6>
                            <p class="price">$<%=item.price%></p>
                        </div>
                    </div>
                </div>               
                
                <% }) %>

            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Resumen</h2>
                <ul class="summary-table">
                    <li><span>items:</span> <span><%= cart ? cart.item.length : 0 %></span></li>
                    <li><span>total:</span> <span>$<%=cart.total%></span></li>
                </ul>
                <span>¡Al realizar tu pedido recibis un cupón del 10% de descuento para tu próxima compra!</span>
                <div class="checkout-btn mt-100">
                    <a href="/checkout/" class="btn essence-btn">checkout</a>
                </div>
            </div>
        </div>

        <% } else { %>

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="/img/core-img/bag.svg" alt=""> <span><%= cart ? cart.item.length : 0 %></span></a>
        </div>

        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col text-center">
                <span class="text-uppercase font-weight-bold">!tu carrito esta vacio!</span>
                <div class="checkout-btn mt-100">
                    <a href="/products/shop/" class="btn essence-btn">ir a la tienda</a>
                </div>
            </div>
        </div>        

        <% } %>

    </div>
    <!-- ##### Right Side Cart End ##### -->