<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Pedido</title>
    <style>
        ul,
        ol {
            margin: 0;
        }

        ul li,
        ol li {
            list-style: none;
        }
    </style>
</head>

<body>

    <% if (summary && summary.payMethod === "transfer") { %>

    <h1>Hola <%= summary.client.name%>! Tu pedido ha sido recibido.</h1>

    <p>Gracias por enviarnos tu pedido, el mismo estará confirmado una vez que hayamos recibido el comprobante de la transferencia. Lo puedes enviar por email o WhatsApp.</p>

    <ul>
        <li>CBU: 0170016940000006891567</li>
        <li>Alias: Pipasteleria</li>
        <li>Banco: BBVA</li>
        <li>MP ALIAS: Pipasteleria.mp</li>
        <li>MP CVU: 0000003100021369072550</li>
    </ul>

    <% } else if (summary && summary.payMethod === "mercado_pago") { %>
    
    <h1>Hola <%= summary.client.name%>! Tu pedido ha sido confirmado.</h1>
    
    <p>Agradecemos tu compra en El Bosque Energético. Ya estamos trabajando para hacer tu pedido con mucho amor. Si tienes alguna pregunta, no dudes en contactarnos a nuestro correo electrónico o a través de nuestro número de WhatsApp.</p>

    <% } %>

    <p>Tu Orden <b>#<%=summary.order.code%></b></p>

    <% let subtotal=0; %>

    <ul>                
        <% summary.items.forEach(item=> { %>
            <li>Nombre: <%= item.name %></li>
            <li>Precio: $<%= item.price %></li>
            <li>Cantidad: <%= item.quantity %></li>
            <li>Opciones: (<%= item.selectedOptions %>)</li>
            <br>
        <% subtotal +=parseFloat(item.subtotal); %>
        <% }) %>
        <% if (summary.client.note !== "") { %>
            <li>Nota: (<%=summary.client.note%>)</li>
            <br>
        <% } %>
        <li>Subtotal: $<%= (subtotal).toFixed(2) %></li>
        <% if (summary.order.method === 'pickup') { %>
        <li>Método de Entrega: Retiro</li>
        <% } else if (summary.order.method === 'delivery') { %>
        <li><%=summary.delivery.name %>: $<%=summary.delivery.price%></li>
        <li>Lugar de entrega: (CP: <%=summary.client.postcode%>, Ciudad: <%=summary.client.city%>, Dirección: <%=summary.client.address%>)</li>
        <% } %>
        <% if (summary.payMethod === 'transfer') { %>
        <li>Forma de Pago: Transferencia</li>
        <% } else if (summary.payMethod === 'mercado_pago') { %>
        <li>Forma de Pago: Mercado Pago</li>
        <% } %>
        <% if (summary.discount) { %>
        <li>Descuento: <%=summary.discount.percentage %>%</li>
        <% } %>
        <br>
        <li><b>Total: $<%= summary.order.amount %></b></li>
    </ul>

</body>

</html>